torch
torchvision

accelerate[sagemaker]

-f git+https://github.com/huggingface/peft.git
peft==0.2.0

# to load the stackoverflow dataset
pandas
numpy

# huggingface
transformers
loralib
evaluate
scikit-learn # to calculate f1 score
# deepspeed
datasets